
@{
    ViewData["Title"] = "MotorcadeAdd";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<h1>MotorcadeAdd</h1>
<input id="Hidden1" type="hidden" value="@ViewBag.ls" />
<table class="table table-bordered">
    <tr>
        <td>车队编号</td>
        <td><input id="Serialnumber" type="text" /></td>
    </tr>
    <tr>
        <td>车队称号</td>
        <td><input id="TheteamName" type="text" /></td>
    </tr>
    <tr>
        <td>负责人姓名</td>
        <td><input id="Principal" type="text" /></td>
    </tr>
    <tr>
        <td>负责人电话</td>
        <td><input id="PrincipalPhone" type="text" /></td>
    </tr>
    <tr>
        <td>车队人数</td>
        <td><input id="PersonNumber" type="text" /></td>
    </tr>

    <tr>
        <td>选择你要添加的车辆 <input type="button" value="全选反选" id="id" /></td>
        <td id="di">
        </td>
    </tr>
    <tr>

        <td colspan="2">
            <input type="button" id="add" value="提交" class="btn btn-primary btn-lg"  onclick="Add()" />
            <input type="button" id="upt" value="修改" class="btn btn-primary btn-lg"  onclick="MotorUpst()" />
        </td>
    </tr>
</table>
<script>
    $(function () {
        Check();
        $("#id").click(function () {
            $(".ck").each(function () {
                $(this).attr("checked", !$(this).attr("checked"))
            })
        })
        if ($("#Hidden1").val() != "") {
            $("#add").hide();
            
            Check1();
            MotorUpt();
            
        }
        else {
            $("#upt").hide();
            Check();
           
           
        }
    })
    //车辆显示
    function Check() {

        $.ajax({
            url: 'http://localhost:8648/api/Show',
            type: 'get',
            //ContentType:'application/json',
            dataType: 'json',
            success: function (d) {
                $('#di').empty();
                $(d).each(function () {
                    var line = '<input type="checkbox"  class="ck"  value="' + this.VehicleManageId + '" />' + this.ModelofCar + '       '
                    $('#di').append(line);
                })

            }
        })
    }  
    function Check1() {

        $.ajax({
            url: 'http://localhost:8648/api/CarTianUpt',
            type: 'get',
            data: { ids: $('#Hidden1').val()},
            //ContentType:'application/json',
            dataType: 'json',
            success: function (d) {
                $('#di').empty();
                $(d).each(function () {
                    var line = '<input type="checkbox"  class="ck"  value="' + this.VehicleManageId + '" />' + this.ModelofCar + '  &nbsp&nbsp&nbsp  '
                    $('#di').append(line);

                })
                Checked1();

            }
        })
    }  
    //车队添加
    function Add() {
        var id = "";
        //for (var i = 0; i < $(".ck").length; i++) {
        //    if ($(".ck").eq(i).attr("checked") == "checked") {
        //        id += $(".ck").eq(i).val() + ","
        //    }
        //}
        $('input[Class="ck"]:checked').each(function () {

            id += $(this).val() + ',';

            //Ids += ',';
        });
        alert(id);
        if (id == "") {
            alert("至少选中一项车")
            return false;

        }
        else {
            if (!confirm("是否确定选择项")) return true;
        };
        
        id = id.substring(0, id.length - 1);
       
        var obj = {};
        obj.Serialnumber   = $('#Serialnumber').val();
       obj.TheteamName    = $('#TheteamName').val();
       obj.Principal      = $('#Principal').val();
       obj.PrincipalPhone = $('#PrincipalPhone').val();
        obj.PersonNumber   = $('#PersonNumber').val();

        $.ajax({
            url: 'http://localhost:8648/api/AddModtorcade',
            data: { "f": obj, "ids": id },
            type: 'Post',
            success: function (d) {
                if (d > 0) {
                    alert('添加成功！')
                }
                else {
                    alert('添加失败')
                }
            }
        })
    }
    //车队反填
    function MotorUpt() {
        $.ajax({
            url: 'http://localhost:8648/api/UptFleeShow',
            data: { ids: $('#Hidden1').val() },
            type: 'get',
            dataType: 'json',
            success: function (d) {
                $('#Serialnumber').val(d[0].Serialnumber) ;
                $('#TheteamName').val(d[0].TheteamName);
              $('#Principal').val(d[0].Principal);
              $('#PrincipalPhone').val(d[0].PrincipalPhone);
              $('#PersonNumber').val(d[0].PersonNumber);
            }
        })
    }
    //车辆反填
    function Checked1() {
        $.ajax({
            url: 'http://localhost:8648/api/CarTianCheck',
            data: { ids: $('#Hidden1').val() },
            type: 'get',
            dataType: 'json',
            success: function (d) {
                for (var i = 0; i < d.length; i++) {
                   
                    $('input[Class="ck"]').each(function () {
                       
                        if ($(this).val() == d[i].Vidd) {
                            $(this).attr("checked", true);
                        }
                    })
                }
                    
                    
               

                
            }
        })
    }

    //修改车队
    function MotorUpst() {
        var id = "";
        //for (var i = 0; i < $(".ck").length; i++) {
        //    if ($(".ck").eq(i).attr("checked") == "checked") {
        //        id += $(".ck").eq(i).val() + ","
        //    }
        //}
        $('input[Class="ck"]:checked').each(function () {

            id += $(this).val() + ',';

            //Ids += ',';
        });
        alert(id);
        if (id == "") {
            alert("至少选中一项车")
            return false;

        }
        else {
            if (!confirm("是否确定选择项")) return true;
        };

        id = id.substring(0, id.length - 1);

        var obj = {};
        obj.FleetManagementId = $("#Hidden1").val();
        alert(obj.FleetManagementId);
        obj.Serialnumber = $('#Serialnumber').val();
        obj.TheteamName = $('#TheteamName').val();
        obj.Principal = $('#Principal').val();
        obj.PrincipalPhone = $('#PrincipalPhone').val();
        obj.PersonNumber = $('#PersonNumber').val();
        $.ajax({
            url: 'http://localhost:8648/api/UptMored',
            data: { "m": obj, "ids": id },
            type: 'Post',
            success: function (d) {
                if (d =="yes") {
                    alert('修改成功！')
                    location.href = "/CarShow/Motorcade";
                }
                else {
                    alert('修改失败')
                }
            }
        })
    }




</script>